//Store Apps
.apps{
  color: white;
  .text,.app-store{
    width: 50%;
    form{
      width: 70%;
      input{
        display: inline-block;
        width: 77%;
        margin-right: 4px;
      }
    }
      img{
        max-width: 49%;
        max-height: 54%;
      }
  }
}

//Info
.info{
  color: white;
  border-top: 1px solid #656464;
  p{
    text-align: center;
    i{
      color: rgb(0, 208, 255);
    }
    a{
      color: orange; text-decoration: none;
    }
  }
}
