<!-- Slider Component -->
<app-slider></app-slider>

<!-- All Movies Component -->
<app-all-movies></app-all-movies>

<!-- Search Component -->
<app-search></app-search>

<!-- Store apps -->
<section class="apps d-flex justify-content-around flex-wrap p-5 rounded bg-dark">
  <div class="text d-flex flex-column">
    <h2 class="fw-bold">{{'get our latest update!' | titlecase}}</h2>
    <p>Join Our Newsletter And Get $10 Discount</p>
    <form class="d-flex justify-content-between">
      <input type="text" class="form-control py-2" placeholder="Email">
      <button class="btn btn-warning px-4 py-2">Send</button>
    </form>
  </div>
  <div class="app-store d-flex justify-content-center">
    <div class="download d-flex flex-column flex-wrap align-items-center">
      <h5 class="fw-bold">Download Our App</h5>
      <p>15% Discount on your first purchase.</p>
      <div class="image-container d-flex justify-content-between mt-2">
        <img src="../../../../assets/ios-270x80.png" alt="ios">
        <img src="../../../../assets/android-268x80.png" alt="android">
      </div>
    </div>
  </div>
</section>

<!-- Footer Component -->
<app-footer></app-footer>

<!-- Info -->
<section class="info d-flex justify-content-center bg-dark">
  <div>
    <p class="text-center">&#169; 2023, Movie - Movie Website.</p>
    <p>Designed and built with all the
      <i class="bi bi-balloon-heart"></i>
      in the world by
      <a href="https://github.com/Muhammad-1956?tab=repositories"
        target="_blank"
        >
        Muhammad Fouad</a>
      </p>
  </div>
</section>
