@import '~bootstrap-icons/font/bootstrap-icons.css';
span{
  color: white;
  font-weight: 600; font-size: 1.3rem;
  border-radius: 10px;
  padding: 2px 5px;
  margin-right: 1vw;
  margin-top: 8px;
}
i{
  color: rgb(224, 224, 45);
}
img{
  max-width: 100%;
}
p{
  font-size: 1rem;
  font-family: serif
}
.logo-compaines{
  img{
    height: 4vh;
    width: 12vw;
    background: white;
  }
}
//Store Apps
.apps{
  color: white;
  .text,.app-store{
    width: 50%;
    form{
      width: 70%;
      input{
        display: inline-block;
        width: 77%;
        margin-right: 4px;
      }
    }
      img{
        max-width: 49%;
        max-height: 54%;
      }
  }
}

//Info
.info{
  color: white;
  border-top: 1px solid #656464;
  p{
    text-align: center;
    i{
      color: rgb(0, 208, 255);
    }
    a{
      color: orange; text-decoration: none;
    }
  }
}
