<!-- <label class="my-1">{{title}}</label>
<select class="form-control" (change)="emitter($event)">
  <option value="{{option.key}}" [selected]="i == 0" *ngFor="let option of data; index as i">&#160;{{option.value}}</option>
</select> -->
<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categories" aria-controls="categories" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->
  <div class="d-flex justify-content-start bg-dark p-3 rounded my-4" id="categories">
    <div class="select-container d-flex justify-content-start flex-wrap">
      <!-- <span class="h5">{{word}}</span> -->
      <a routerLinkActive="active" class="btn btn-secondary" *ngFor="let option of data; index as i" (click)="emitter(option)">{{option.value}}</a>
    </div>
  </div>
