.footer{
  h4{
    color: white;
    font-weight: bold;
  }
  p{
    color: #eee;
  }
  ul{
    list-style: none;
    padding: 0px;
    li{
      color: #928e8e;
      &:hover{
        color: white;
        cursor: pointer;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 480px){
  .footer-container{
    // text-align: center;
    justify-content: center !important;
  }
}

