<!-- Footer -->
<section class="footer p-4 bg-dark" style="border-top: 1px solid #716f6f;">
  <div class="footer-container d-flex justify-content-between flex-wrap">
    <div>
      <h4>Contact Us</h4>
      <p>Burj Khalifa - Room 12154-Downtown Dubai - United Arab Emirates</p>
      <a href="mailto:Muhammadfouad551@gmail.com" style="text-decoration: none; color:orange;">MuhammadFouad551@gmail.com</a>
      <p>+20 1100-7000-40</p>
    </div>
    <div>
      <h4>Need Help?</h4>
      <ul>
        <li>Contact Us</li>
        <li>Help Center</li>
        <li>Investor Relations</li>
        <li>Terms of Use</li>
        <li>Corporate Information</li>
        <li>Legal Notices</li>
      </ul>
    </div>
    <div>
      <h4>Informations</h4>
      <ul>
        <li>Reservation</li>
        <li>Sitemap</li>
        <li>FAQs</li>
        <li>Tickets</li>
        <li>Wholesale Policy</li>
      </ul>
    </div>
    <div>
      <h4>About us</h4>
      <ul>
        <li>About us</li>
        <li>Delivery Information</li>
        <li>Privacy Policy</li>
        <li>Terms and Conditions</li>
        <li>Search</li>
      </ul>
    </div>
  </div>
</section>
